[submodule "achievement-api"]
	path = achievement-api
	url = ./achievement-api
[submodule "auth-api"]
	path = auth-api
	url = ./auth-api
[submodule "auth-pylib"]
	path = auth-pylib
	url = ./auth-pylib
[submodule "userdata-api"]
	path = userdata-api
	url = ./userdata-api
[submodule "webapp-ui"]
	path = webapp-ui
	url = ./webapp-ui
[submodule "timetable-api"]
	path = timetable-api
	url = git@github.com:profcomff/timetable-api.git
[submodule "services-api"]
	path = services-api
	url = git@github.com:profcomff/services-api.git
[submodule "logging-pylib"]
	path = logging-pylib
	url = git@github.com:profcomff/logging-lib.git
[submodule "marketing-api"]
	path = marketing-api
	url = git@github.com:profcomff/marketing-api
[submodule "preparation-timetable-data"]
	path = preparation-timetable-data
	url = git@github.com:profcomff/preparation-timetable-data
